{{extend '../_layouts/home.html'}}

{{block 'title'}}{{'多人博客 - 首页'}}{{/block}}

{{block 'body'}}
<section class="container">

	<div class="row">
		{{include '../_partials/settings-nav.html'}}
		
		<div class="col-lg-9">
			<div class="subhead">
				<h2>修改密码</h2>
			</div>
			<hr>
			<form id="psd_form">
				<div class="form-group">
					<label for="password0">当前密码</label>
					<input type="password" class="form-control" id="password0" placeholder="" name="old_psd">
				</div>
				<div class="form-group">
					<label for="password1">新的密码</label>
					<input type="password" class="form-control" id="password1" placeholder="" name="new_psd">
				</div>
				<div class="form-group">
					<label for="password2">确认密码</label>
					<input type="password" class="form-control" id="password2" placeholder="" name="new_psd2">
				</div>
				<button type="submit" class="btn btn-success" id="submit">保存</button>

			</form>
			<div class="subhead">
				<h2>注销账号</h2>
				<hr>
			</div>
			<div>
				<p>一旦注销，不可找回，请谨慎操作</p>
				<button class="btn btn-danger" id="deleteBtn">删除</button>
			</div>
			<hr>
		</div>
	</div>
</section>
{{/block}}
{{block 'script'}}
<script>
	$(function() {
		$('#psd_form').on('submit', function(e) {
			e.preventDefault()
			var formData = $(this).serialize() //输出标准的查询字符串
			console.log(formData)
			$.ajax({
				url: '/settings/admin',
				type: 'post',
				data: formData,
				dataType: 'json',
				success: function(data) {
					var err_code = data.err_code
					if (err_code === 0) {
						window.alert('修改密码成功！')
						// 服务端重定向针对异步请求无效
						window.location.href = '/'
					} else if (err_code === 1) {
						window.alert('两次输入的密码不一致！')
					} else if (err_code === 500) {
						window.alert('服务器忙，请稍后重试！')
					}
				}
			})
		})
		
		
		$('#deleteBtn').on('click', function() {
			var r=confirm("是否确认删除?");
			    if (r==true){
			        $.ajax({
			        	url: '/deleteUser',
			        	type: 'get',			    			        
			        	success: function(data) {
			        		var err_code = data.err_code
			        		if (err_code === 0) {
			        			window.alert('注销用户成功！')
			        			// 服务端重定向针对异步请求无效
			        			window.location.href = '/'
			        		} else if (err_code === 500) {
			        			window.alert('服务器忙，请稍后重试！')
			        		}
			        	}
			        })
			    }
			    else{
			        
			    }
		})
	})
</script>
{{/block}}
