<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet">
	</head>
	<body>
		<div>
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="#">Zep教育</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="#">首页 <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">免费资源</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="#">学习路线图</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">技术交流</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">最新活动</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">免费资源</a>
						</li>
						
					</ul>
					<form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="search" placeholder="搜索" aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
						{{ if user }}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								个人中心
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="/settings/admin">当前登录用户: {{ user.nickname }}</a>
								<a class="dropdown-item" href="/settings/admin">个人主页</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="/settings/profile">设置</a>
								<a class="dropdown-item" href="/logout">退出</a>
							</div>
						</li>
						<a class="btn btn-default navbar-btn" href="/topics/new">发起</a>
						{{ else }}
						<div class="">
							<a class="btn btn-primary navbar-btn " style="20%" href="/login">登录</a>
							<a class="btn btn-success navbar-btn" href="/register">注册</a>
						</div>
						
						{{ /if }}
					</form>
				</div>
			</nav>
		</div>
		<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
		<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
