<!-- <footer class="container text-right" style="position: fixed;bottom: 100px;">
  <p>Copyright © 2017</p>
</footer>
 -->
 <!-- 页脚开始 -->
 <footer class="mt-4 bg-dark text-light small" > <!-- style="position: fixed; bottom: 0;left: 0;width: 100%;"-->
 	<div class="container">
 		<div class="row pt-3 pb-5">
 			<div class="col-sm-12 col-md-10 ">
 				<div class="pt-4">
 					<p>Zep教育，成就你的梦想！</p>
 					<ul class="nav">
 						<li class="nav-item"><a href="#" class="nav-link text-white pl-0">关于我们</a></li>
 						<li class="nav-item"><a href="#" class="nav-link text-white">联系我们</a></li>
 						<li class="nav-item"><a href="#" class="nav-link text-white">加入我们</a></li>
 						<li class="nav-item"><a href="#" class="nav-link text-white">帮助中心</a></li>
 					</ul>
 					<div class="text-muted">
 						<i>©2019-2021</i> 深圳网络科技有限公司 <span class="mx-3">版权所有</span> <a href="#"
 							class="text-muted">京ICP备200000号</a>
 					</div>
 				</div>
 			</div>
 			<div class="col-sm-12 col-md-2 text-md-right text-center p-0">
 				<figure class="figure mt-3">
 					<img src="../public/img/erweima.jpg" class="figure-img img-thumbnail" style="max-width: 100px;"
 						alt="">
 					<figcaption class="figure-caption text-center text-light">关注我们</figcaption>
 				</figure>
 			</div>
 		</div>
 	</div>
 </footer>