{{extend '../_layouts/home.html'}}

{{block 'title'}}{{'多人博客 - 首页'}}{{/block}}

{{block 'body'}}
<section class="container">
  <div class="row">
    <div class="col-md-5">
      <form id="edit_form">
        <div class="form-group">
          <label for="exampleInputEmail1">选择板块</label>
          <select class="form-control">
            <option>分享</option>
            <option>问答</option>
            <option>招聘</option>
            <option>客户端测试</option>
          </select>
        </div>
        <div class="form-group">
          <label for="title">标题</label>
          <input type="text" name="title" class="form-control" id="title" placeholder="Title" value="{{ topic && topic.title }}">
        </div>
        <div class="form-group">
          <label for="content">内容</label>
          <textarea class="form-control" rows="3" name="content" id="content" >{{ topic && topic.content }}</textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</section>
{{/block}}
{{block 'script'}}
	<script>
		$('#edit_form').on('submit', function (e) {
		  e.preventDefault()
		  var formData = $(this).serialize() //输出标准的查询字符串
		  console.log(formData)
		  $.ajax({
		    url: '/topics/edit',
		    type: 'post',
		    data: formData,
		    dataType: 'json',
		    success: function (data) {
		      var err_code = data.err_code
		      if (err_code === 0) {
		        window.alert('修改成功！')
		        // 服务端重定向针对异步请求无效
		        window.location.href = '/topics/show'
		      } else if (err_code === 500) {
		        window.alert('服务器忙，请稍后重试！')
		      }
		    }
		  })
		})
	</script>
{{/block}}